- add_to_breadcrumbs s_('Runners|Runners'), group_runners_path(@group)
- breadcrumb_title s_('Runners|Fleet dashboard')
- page_title s_('Runners|Fleet dashboard'), s_('Runners|Runners')
- add_page_specific_style 'page_bundles/runners'
